@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background: #B39BC8;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

#navbar__logo {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    font-weight: 900;
    background-size: 100%;
    -webkit-background-clip: text; /* http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3.5rem;
    font-family: 'Bubbler One', sans-serif;
}

.navbar__menu {
    display: flex; /* makes horizontal list */
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.navbar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to top, #ee0979, #ff6a00);
    background: linear-gradient(to top, #ee0979, #ff6a00);
    color: white;
    transition: all 0.3 ease;
}

.navbar__links:hover {
    color: #eb822c;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        z-index: 1;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute; /* to use 'top' */
        top: -1000px; /* for drop down effect */
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #B39BC8;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh; /* 60% of the viewport height */
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar { /* individual bars */
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out; /* for the translation and rotation */
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .navbar__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) { /* 2nd line of 3-bar line*/
        opacity: 0; /* disappears */
    }

    #mobile-menu.is-active .bar:nth-child(1) { /* 1st line of 3-bar line*/
        transform: translateY(8px) rotate(45deg); /* moves line down by 8px and rotates */
    }

    #mobile-menu.is-active .bar:nth-child(3) { 
        transform: translateY(-8px) rotate(-45deg); 
    }
}

/* hero section */
.hero {
    background:  #F0EBF4;

    /* background: linear-gradient(to right, #161616, #000000); */
    padding: 200px 0;
}

.hero__container { /* contains text and button */
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%; /* percentage of div height content takes up */
    text-align: center;
    padding-bottom: 0px;
}

.semicircle {
    position: absolute;
    z-index: 0;
    left: 0px;
    height: 115.9%;
    top: 71px;
    width: 800px;
    margin: 0;
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    clip-path: circle(93.1% at 0 51%);
}

.semicircle img {
    height: 700px;
    margin-left: -100px;
    margin-top: 65px;
}

.hero__heading {
    position:relative;
    left: 350px;
    top: -100px;
    z-index: 0;
    font-size: 100px;
    margin-bottom: 24px;
    color: #E64398;
    
}

.hero__heading span {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text; /* http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hero__description {
    position:relative;
    z-index: 50;
    left: 350px;
    bottom: 110px;
    font-size: 60px;
    color: #E64398;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
    background: linear-gradient(to right, #9114ff, #da22ff); 
    -webkit-background-clip: text; /* http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */
   /* -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;  */
}

.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 1363px) {
    .hero__heading {
        font-size: 70px;
        left: 0px;
        top: 0px;
    }

    .hero__description {
        font-size: 50px;
        left: 0px;
        top: 0px;
    }

     .semicircle {
        display: none;
    }
    
    .main__btn {
        left: 0px;
        top: 0px;
    }
}

/* About Section */
.main {
    background-color: #dacee4;
    padding: 10rem 0;
}


.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
}

.main__content {
    color: #E64398;
    /* width: 100%; */
}

.main__content h1 {
    font-size: 2rem;

    background: #fe3b6f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff087b, #ed1a52);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ff087b, #ed1a52); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    font-weight: 900;
    background-size: 100%;

    -webkit-background-clip: text; /* http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__content h2 {
    font-size: 4rem;
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text; /* http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn {
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #ee0979, #ff6a00);
    background: linear-gradient(to right, #ee0979, #ff6a00);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    left: 350px;
    bottom: 110px;
    transition: all 0.35s;
    outline: none;
}

.main__content .main__btn {
    position: relative;
    left: 0px;
    bottom: 0px;
}

.main__btn a{
    position: relative;
    color: #fff;
    z-index: 2;
    text-decoration: none;;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ee0979;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

.main__img--card {
    height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

#card-2 {
    background: #ff512f;
    background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
    background: linear-gradient(to right, #dd2476, #ff512f);
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {   
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--card {
        height: 425px;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .main__btn {
        left: 0px;
        top: 0px;
    }
}

@media screen and (max-width: 480px) {
    .main__img--card {
        width: 250px;
    }

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Menu Section */

.menu {
    background: #F0EBF4;
    display: flex;
    flex-direction: column; /* positions cards under title */
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.menu h1 {
    background: #ff8177;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    font-weight: 900;
    background-size: 100%;
    -webkit-background-clip: text; /* http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    margin-bottom: 3.5rem;
    font-size: 3.5rem;
}

.menu__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.menu__card {
    position: relative;
    margin: 10px;
    height: 425px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    transition: 0.3s ease-in;
}

.menu__card img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

/* .menu__card h2 {
    text-align: center;
}

.menu__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
} */

.menu__btn { /* container of button */
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.menu__card button { /* actual button */
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #dd2476;
    opacity: 0.7;
    font-size: 1rem;
}

.menu__card button:hover {
    cursor: pointer;
}

.menu__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .menu__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .menu__wrapper {
        grid-template-columns: 1fr;
    }
}

/* Sign Up Section*/
#sign-up .main__img--container img {
    position: relative;
    left: 60px;
    top: 53px;
}

@media screen and (max-width: 1100px) {   
    #sign-up .main__img--container img {
        left: 0px;
        top: 0px;
         width: 475px;
        height: auto; 
    }
}

@media screen and (max-width: 480px) {
    #sign-up .main__img--container img {
        width: 450px;
        height: auto;
    }
}

/* Footer CSS */
